<h1 align='center'>Edit Post</h1> 

<%= render 'form' %>
<%# <div class="col-sm-offset-2 col-sm-10">
<a class="btn btn-success",<%= link_to 'Back', articles_path %></a>
<%# <a class="btn btn-success",<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %></a>
<%# </div>  %>
