<div class="container">
<h1 align='center'>Moriarty Liquors</h1>
<h4 align='center'>101 Middle Street, Fairhaven, MA 02719</h4>

    <div class="jumbotron">
    <%= image_tag("frontHouse1_cropped", :alt => "Moriarty's Front", :style => "width: 100%;") %>
    </div>
</div>



<%= link_to 'About', about_path %>